/* App.css */

#root {
  max-width: none;
  margin: 0 auto; /* Set margin to auto to horizontally center the element */
  padding: 0;
  text-align: center;
}

body {
  background-color: none;
}

/* Remove default margin from div */
div {
  margin: 0;
}

